// SCSS Variables
$primary-color: #E31134;
$background-color-dark: #2C3338;
$font-color-dark: #606468;
$font: "Open Sans";

* {margin:0;padding:0}
html, body {
    background-color: $background-color-dark;
    color: $font-color-dark;
    font-family: $font, sans-serif;
    height: 100%;
}
form {    
    label {
        background-color: #363B41;
        border-radius: 0.25rem 0 0 0.2rem;
        height: 56px;
        padding: 1rem 1.25rem;
        i {color:#606468; font-size: 1rem;}
    }
    .form_field {
        display: flex;
        width: 100%;
    
        input {
            background-color: lighten($background-color-dark, 5%);
            border:0;
            border-radius: 0 .25rem .25rem 0;
            caret-color: #eee;
            color: #eee;
            height: 56px;
            margin-bottom: 1rem;
            padding: 1rem;
            transition: background-color .3s;
            &:focus {background-color: lighten($background-color-dark, 10%); border:0; box-shadow:none;}
        }
    }
}

.btn-primary {
    background-color: $primary-color;
    border: 1px solid lighten($primary-color, 5%);
    border-radius: .25rem;
    font-size: 0.875em;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
    &:hover {
        background-color: darken($primary-color, 2%);
        border: 1px solid darken($primary-color, 8%);
    }
    &:active {
        background-color: darken($primary-color, 20%);
        border: 1px solid darken($primary-color, 25%);
    }
}